# Configurarion file for back /samba

TGT_SCRIPT_NAME="back_samba.sh"

DIR_BASE_CFG="/var/log/back_samba/"
DIR_REDUC_CFG="back_samba_reduc"
DIR_DETALL_CFG="back_samba_detalle"

MOUNTED_ORIGIN_DIR_NAME_CFG="/samba"
ORIGIN_DIR_NAME_CFG="/"

MOUNTED_DEST_DIR_NAME_CFG="/samba_0"
DEST_DIR_NAME_CFG=""

EXCLUDE_FILE_NAME_CFG="exclude_patterns_samba.txt"

NAME_REP_REDUC_CFG="_Rep_reduc_samba.log"
NAME_REP_DETALL_CFG="_Rep_detall_samba.log"

BACK_OPTS_1_CFG=" -r ${RUN_TYPE} -t -p -o -g -v ${PROGRESS} --delete "
BACK_OPTS_2_CFG=" --stats -i -s "

DEPLOY_DESTINATION_DIR_CFG="/opt/back_samba/"

