# Configurarion file for back_public-q_Photos_Dir1_a_rojo

TGT_SCRIPT_NAME="back_public-q-Photos_Dir1_a_rojo.sh"

DIR_BASE_CFG="/var/log/back_a_rojo/"
DIR_REDUC_CFG="back_a_rojo_reduc"
DIR_DETALL_CFG="back_a_rojo_detalle"

MOUNTED_ORIGIN_DIR_NAME_CFG="/samba"
ORIGIN_DIR_NAME_CFG="/public-q/Photos/"

MOUNTED_DEST_DIR_NAME_CFG="/media/badubko/Seagate_Backup_Plus_Drive"
DEST_DIR_NAME_CFG="/Public/Photos"

EXCLUDE_FILE_NAME_CFG="exclude_patterns_public-q_Photos.txt"

NAME_REP_REDUC_CFG="_Rep_reduc_a_rojo.log"
NAME_REP_DETALL_CFG="_Rep_detall_public-q-Photos_Dir1_a_rojo.log"

DEPLOY_DESTINATION_DIR_CFG="/opt/back_a_rojo/"
